.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    margin-bottom: 20px;
    color: #333;
  }
  
  .inputContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .input {
    flex-grow: 1;
  }
  
  .button {
    height: 56px;
    width: 12rem;
  }
  
  .response {
    margin-top: 10px;
    color: #006400; /* Success color */
  }
  