.blogContainer {
  margin-top: 20px;
}

.blogCard {
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.blogImage {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e0e0e0;
}

.authorBox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.authorAvatar {
  margin-right: 12px;
  width: 48px;
  height: 48px;
}

.authorName {
  font-weight: bold;
  color: #3f51b5;
}

.blogHeading {
  font-weight: 700;
  margin-bottom: 16px;
  color: #333;
}

.blogContent {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #555;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
}

.para {
  margin: 8px 0;
  font-size: 1rem;
  color: #444;
}

.done {
  color: green;
}

.cancle {
  color: red;
}

.snackbar {
  bottom: 70px;
}

.alert {
  background-color: #4caf50;
  color: white;
}
.statusContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem!important;
}
.para{
  display: flex;
  align-items: center;
  gap: .5rem!important;
}