.container {
  padding: 16px;
}

.heading {
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.searchField {
  width: 200px;
}

.loading {
  display: block;
  margin: 20px auto;
}

.table {
  margin-top: 20px;
}
